---
import Layout from "../layouts/Layout.astro";
import Segments from "../components/Segment.astro";
import ExperienceSegment from "../components/ExperienceSegment.astro";
import Sider from "../components/Sider.astro";
import { experiences } from "../json/document.json";
---

<Layout title="Home">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-row">
    <Sider />
    <div class="flex-[3] pb-6">
      <div class="mb-10 lg:hidden">
        <h1 class="text-4xl sm:text-5xl font-bold mt-2">Muhammad Iqbal</h1>
        <h2 class="text-lg sm:text-xl mt-3">Front-End Engineer</h2>
        <h3 class="text-gray-400 mt-3 text-sm sm:text-base">
          I build pixel-perfect, engaging, and<br /> accessible user experiences.
        </h3>
      </div>
      <Segments title="ABOUT">
        <div class="text-gray-400 mb-4 space-y-4">
          <p>
            As a seasoned Frontend Engineer with 6+ years of experience, I
            specialize in crafting engaging and scalable user interfaces for web
            and mobile applications. Proficient in ReactJS and NextJS, I excel
            in building fast, efficient, and maintainable web applications.
            Additionally, my expertise in React Native enables me to develop
            seamless and intuitive mobile experiences.
          </p>
          <p>
            Throughout my career, I have had the privilege of working with
            diverse companies, including <a
              class="text-white cursor-pointer hover:text-blue-500"
              href="https://www.virtualspirit.com/"
              target="_blank">software agency</a
            >, <a
              class="text-white cursor-pointer hover:text-blue-500"
              href="https://www.pertamedika.co.id/"
              target="_blank"
            >
              health-care corporation</a
            >, and <a
              class="text-white cursor-pointer hover:text-blue-500"
              href="https://efishery.com/"
              target="_blank">aqua-culture start-up</a
            >. This exposure has equipped me with a unique understanding of the
            tech industry, allowing me to adapt to changing requirements and
            deliver high-quality solutions that meet the needs of clients and
            users.
          </p>
          <p>
            With a passion for staying up-to-date with the latest technologies
            and trends, I am committed to continuously improving my skills and
            knowledge to design and develop cutting-edge solutions that drive
            business success.
          </p>
        </div>
      </Segments>
      <Segments title="EXPERIENCES">
        <div class="text-gray-400 mb-4 space-y-4">
          {
            experiences.map((experience: any) => (
              <ExperienceSegment
                title={experience.title}
                description={experience.description}
                workPeriode={experience.workPeriode}
                link="#"
                technologies={experience.technologies}
              />
            ))
          }
        </div>
      </Segments>
    </div>
  </div>
</Layout>
