---
import Layout from "../layouts/Layout.astro";
import Segments from "../components/Segment.astro";
import ExperienceSegment from "../components/ExperienceSegment.astro";
import Sider from "../components/Sider.astro";

const EXPERIENCES = [
  {
    workPeriode: "OCT 2022 - PRESENT",
    title: "Frontend Engineer 路 eFishery",
    description: [
      `Build, design, and maintain multiple websites & mobile apps to achieve 100% digitalization of the company's.`,
      `Implementing CodePush updates for React Native apps to enhance deployment effciency.`,
      `Refactor existing codebases to improve apps performance and developer experiences.`,
      `Work closely with cross-functional teams, including developers, managers, designers & products to design new features and resolve bugs.`,
      `Optimized existing React applications for improved performance and user experience.`,
    ],
    technologies: [
      "Javascript",
      "Typescript",
      "HTML & CSS",
      "Tailwind",
      "React",
      "NextJS",
      "RefineJS",
      "React Native",
      "Unit Testing",
      "Ant Design",
      "Graphql",
      "REST API",
      "Zustand",
    ],
  },
  {
    workPeriode: "OCT 2020 - JUNE 2023",
    title:
      "Frontend Engineer > Lead Frontend Engineer 路 PT Pertamina Bina Medika IHC",
    description: [
      "Developed, Designed and maintained a high-quality user interface for a new product.",
      "Crafted reusable React components for future use.",
      "Took the initiative to prototype new user experiences and test them with stakeholders.",
      "Initiate & Implemented new coding standards and best practices for the front-end team, resulting in improved effciency and a more consistent codebase across projects.",
      "Optimized existing React applications for improved performance and user experience.",
      "Work closely with clients to understand their needs and deliver solutions that meet their requirements.",
    ],
    technologies: [
      "Javascript",
      "Typescript",
      "HTML & CSS",
      "Tailwind",
      "React",
      "NextJS",
      "Ant Design",
      "REST API",
      "React Recoil",
    ],
  },
  {
    workPeriode: "APR 2019 - AUG 2022",
    title: "Frontend Engineer 路 Virtual Spirit",
    description: [
      `Mainly focused on build & maintain high-quality web and mobile applications.`,
      `Designed and implemented a user-friendly interface for the app.`,
      `Optimized the app for performance and user experience.`,
      `Collaborated with cross-functional teams to deliver high-quality mobile apps.`,
    ],
    technologies: [
      "Javascript",
      "Typescript",
      "HTML & CSS",
      "React",
      "React Native",
      "REST API",
      "React Redux",
      "Redux Saga",
    ],
  },
  {
    workPeriode: "OCT 2018 - APR 2019",
    title: "Frontend Engineer 路 Komers",
    description: [
      "Joined a very early-stage startup as a fresh graduate.",
      "Built e-commerce apps from scratch using React Native and React.js in a team of three engineers.",
      "Designed and implemented user interfaces without a dedicated UI/UX designer.",
      "Delivered core features like product listings, carts, and payments while ensuring scalable and maintainable code.",
    ],
    technologies: [
      "Javascript",
      "Typescript",
      "HTML & CSS",
      "React",
      "React Native",
      "REST API",
      "React Redux",
      "Redux Saga",
    ],
  },
];
---

<Layout title="Home">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-row">
    <Sider />
    <div class="flex-[3] pb-6">
      <div class="mb-10 lg:hidden">
        <h1 class="text-4xl sm:text-5xl font-bold mt-2">Muhammad Iqbal</h1>
        <h2 class="text-lg sm:text-xl mt-3">Front-End Engineer</h2>
        <h3 class="text-gray-400 mt-3 text-sm sm:text-base">
          I build pixel-perfect, engaging, and<br /> accessible user experiences.
        </h3>
      </div>
      <Segments title="ABOUT">
        <div class="text-gray-400 mb-4 space-y-4">
          <p>
            As a seasoned Frontend Engineer with 6+ years of experience, I
            specialize in crafting engaging and scalable user interfaces for web
            and mobile applications. Proficient in ReactJS and NextJS, I excel
            in building fast, efficient, and maintainable web applications.
            Additionally, my expertise in React Native enables me to develop
            seamless and intuitive mobile experiences.
          </p>
          <p>
            Throughout my career, I have had the privilege of working with
            diverse companies, including <a
              class="text-white cursor-pointer hover:text-blue-500"
              href="https://www.virtualspirit.com/"
              target="_blank">software agency</a
            >, <a
              class="text-white cursor-pointer hover:text-blue-500"
              href="https://www.pertamedika.co.id/"
              target="_blank"
            >
              health-care corporation</a
            >, and <a
              class="text-white cursor-pointer hover:text-blue-500"
              href="https://efishery.com/"
              target="_blank">aqua-culture start-up</a
            >. This exposure has equipped me with a unique understanding of the
            tech industry, allowing me to adapt to changing requirements and
            deliver high-quality solutions that meet the needs of clients and
            users.
          </p>
          <p>
            With a passion for staying up-to-date with the latest technologies
            and trends, I am committed to continuously improving my skills and
            knowledge to design and develop cutting-edge solutions that drive
            business success.
          </p>
        </div>
      </Segments>
      <Segments title="EXPERIENCES">
        <div class="text-gray-400 mb-4 space-y-4">
          {
            EXPERIENCES.map((experience: any) => (
              <ExperienceSegment
                title={experience.title}
                description={experience.description}
                workPeriode={experience.workPeriode}
                link="#"
                technologies={experience.technologies}
              />
            ))
          }
        </div>
      </Segments>
    </div>
  </div>
</Layout>
