---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Portfolio">
  <h1 class="text-4xl font-bold">My Portfolio</h1>
  <Card title="Project 1" description="Description of project 1" link="#" />
  <Card title="Project 2" description="Description of project 2" link="#" />
  <Card title="Project 3" description="Description of project 3" link="#" />
</Layout>