---
const { isSider } = Astro.props;
---

<div class={isSider ? "mb-10" : "mb-10 lg:hidden pt-12 px-8"}>
  <h1 class="text-4xl sm:text-5xl font-bold mt-2">Muhammad Iqbal</h1>
  <h2 class="text-lg sm:text-xl mt-3">Front-End Engineer</h2>
  <h3 class="text-gray-400 mt-3 text-sm sm:text-base">
    I build pixel-perfect, engaging, and<br /> accessible user experiences.
  </h3>
</div>
