---
const { title } = Astro.props;
---

<div class="w-full lg:pt-12" id={title.toLowerCase()}>
  <div
    class="lg:hidden sticky top-0 bg-gray-900/30 z-10 backdrop-blur-md text-base py-4 tracking-widest pl-2"
  >
    {title}
  </div>
  <div class="tracking-wider pl-2">
    <slot />
  </div>
</div>
